.title {
    margin-bottom: 20px;
    font-style: italic;
}

.container{
    /* display: flex;
    flex-direction: column; */
    position: relative;
    /* width: 30%; */
    padding: 40px;
    min-height: 400px;
    border-style: outset;
    border-width: 10px;
    line-height: 300%;

}

#new_post {
    position: absolute;
    bottom: 60px;
    
}

#home {
    position: absolute;
    bottom: 25px;
}