<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}?after" />
</head>
<body>
    <h1 class="title">❦ {{ category_name }}</h1>
    <div class="container">
      <ul>
        {% for article in articles %}
        <li>🐹 <a href="{% url 'detail' article.id %}">{{ article }}</a></li>
        {% endfor %}
      </ul>
      <span id="new_post">✍🏻 <a href="{% url 'new' %}">글 쓰러 가기</a></span>
      <span id="home">🏠 <a href="{% url 'list' %}">홈으로</a></span>
    </div>
    

</body>
</html>