<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
  </head>
  <body>
    <h1 class="title">About my life 🫧</h1>
    <div class="container">
      {% for category,num in list %}
      <div class="category">
        <h3 class="category_name"><a href="{% url 'category' category %}">{{ category }} ({{ num }})</a></h3>
        {% if category == "HOBBY"%}
        <div style="text-align: center"><img src="/static/img/hobby.jpg"/></div>

        {% elif category == 'FOOD' %}
        <div style="text-align: center"><img src="/static/img/food.jpg"/></div>

        {% elif category == 'PROGRAMMING' %}
        <div style="text-align: center"><img src="/static/img/program.jpg"/></div>

        {% endif %}
      </div>
      {% endfor %}
    </div>

    
  </body>
</html>
